.vscode/
todo/

coverage/
lib/
sounds/
src/

config/*
!config/locales/
!config/config.example.json

dist/lib/
dist/src/main.js
dist/tsconfig.json

.gitignore
db.json
tsconfig.json
tslint.yml
yarn.lock

.dockerignore
Dockerfile
